################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Azure.Cognitive.Services.Speech.Samples/SpeechtoText/Properties/PublishProfiles
